:root {
    --primary: #f0a202 !important;
    --primary-hover: #EA3788 !important;
    background-color: #393E41 !important;
    color: #F6F7EB !important;
}

h1, h3, hr {
    color: #F6F7EB !important;
}

section {
    margin-bottom: 2em !important;
}

.right {
    text-align: right;
}

.centered {
    padding: auto;
    margin: auto;
    text-align: center;
}